<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quest</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style_quest.css') }}">
</head>

<body>
  <div class="quest-panel">
    <h1>Quest: {{ quest.name }}</h1>
    <p>{{ quest.description }}</p>
    <form action="{{ url_for('main.quest') }}" method="post">
        <label for="iata_code">Enter IATA Code:</label>
        <input type="text" id="iata_code" name="iata_code" required>
        <button type="submit">Submit</button>
    </form>
  </div>
<script>
window.onload = function() {
  const speciesChoice = localStorage.getItem('species');
  if (speciesChoice === "Shadow") {
    document.body.style.backgroundImage = "url('/static/images/frigate1.jpg')";
  } else if (speciesChoice === "Suede") {
    document.body.style.backgroundImage = "url('/static/images/frigate2.jpg')";
  }
};
</script>
</body>
</html>
