<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RamJet</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-image: url('/static/images/npc.png');">
  <div class="container">
    <div class="papyrus">
      <div class="top-edge"></div>
      <div class="content">

        <h1>Quest Completed! You earned {{ reward }} concords.</h1>
        <button onclick="refreshPage()">Next Quest</button>
        <p id="text"></p>
      </div>
      <div class="bottom-edge"></div>
    </div>
  </div>

  <div class="npc-dialog-box">
    <h2 class="npc-name">{{ npc_name }}</h2>
    <p class="npc-dialogue">{{ dialogue }}</p>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
